body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #334;
  text-decoration: none;
}
.pages{
  /* background: #e7195a; */
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


/* Navbar */
nav {
  background-color: #f1f1f1;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 20px;
  
}

a{
  color: #333;
  text-decoration: none;
}

button {
  background: #fff;
  border: none;
  border-top-right-radius: 5px;
  font-family: "Poppins";
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: background 0.3s ease;
}

button:hover,
button.active {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

button.active {
  background: #cecece; 
  border-radius: 4px;
}


/* tracker */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  margin-left: 2em;
  margin-right: 2em;
}


.service-details {
  background: #fff;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.service-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.service-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.service-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}


/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error)
}